@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./reset.css";

.main-container {
  max-width: 70rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header-wrapper {
  display: grid;
  justify-content: center;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  column-gap: 10px;
  align-items: center;
}

.form-wrapper > input {
  margin-bottom: 0;
}
.form-wrapper > button {
  margin-bottom: 0;
}
